@import '~antd/dist/antd.less';
@import './variables.less';

/* customer variables */
@borderColorGray: #DDD;
@colorRed: #FC6C64;
@colorOrange: #FEC655;
@colorViolet: #648DF7;
@colorBlue: #61B8FF;
@colorGreen: #55BB8A;
@colorCyan: #0EB0C9;
@colorBrown: #DC9123;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

::selection{
	background: @primary-color;
	color: #FFF;
}

::-moz-selection{
	background: @primary-color;
	color: #FFF;
}

.bg-gray{
	background:#f5f6f9;
}

.bg-fa{
	background:#fafafa;
}

.bg-fff{
	background:#fff;
}

.bg-333{
	background:#333;
}

.color-primary {
  color: @primary-color;
}

.color-000 {
	color:#000;
}

.color-4d {
	color:#4d4d4d;
}

.color-fff {
	color:#fff;
}

.color-gray {
	color:#999;
}

.color-red {
  color: @colorRed;
}

.color-green {
  color: @colorGreen;
}

.text-center {
	text-align:center;
}

.text-right {
	text-align:right;
}

.text-left{
	text-align:left;
}

.font-12 {
	font-size:12px!important;
}

.font-14 {
	font-size:14px!important;
}

.font-16 {
	font-size:16px!important;
}

.font-18 {
	font-size:18px!important;
}

.font-20 {
	font-size:20px!important;
}

.font-30 {
	font-size:30px!important;
}

.pull-left {
	float:left;
}

.pull-right {
	float:right;
}

.mart-15 {
	margin-top:15px;
}

.marb-15 {
  margin-bottom:15px;
}

.marl-15 {
  margin-left:15px;
}

.mart-30 {
	margin-top:30px;
}

.marb-30 {
	margin-bottom:30px;
}

.mart-60 {
	margin-top:60px;
}

.marb-60 {
	margin-bottom:60px;
}

.border-tp {
	border-top:1px solid @borderColorGray;
}

.border-bt {
	border-bottom:1px solid @borderColorGray;
}

.rela {
	position:relative;
}

.abso {
	position:absolute;
}

.pointer {
	cursor:pointer;
}

.ellip {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.ant-btn + .ant-btn {
  margin-left: 10px;
}

.btn-brown {
  color: @colorBrown;
  border-color: rgba(220, 145, 35, .1);
  background-color: rgba(220, 145, 35, .1);

  &:hover, &:focus, &:active {
    color: #fff !important;
    border-color: #DC9123 !important;
    background-color: #DC9123 !important;
  }
}

.btn-cyan {
  color: @colorCyan;
  border-color: rgba(14, 176, 201, .1);
  background-color: rgba(14, 176, 201, .1);

  &:hover, &:focus, &:active {
    color: #fff !important;
    border-color: #0EB0C9 !important;
    background-color: #0EB0C9 !important;
  }
}

.btn-green {
  color: @colorGreen;
  border-color: rgba(85, 187, 138, .1);
  background-color: rgba(85, 187, 138, .1);

  &:hover, &:focus, &:active {
    color: #fff !important;
    border-color: #55BB8A !important;
    background-color: #55BB8A !important;
  }
}

.btn-red{
	color: @colorRed;
	border-color: rgba(252, 108, 100, .1);
	background-color: rgba(252, 108, 100, .1);

	&:hover, &:focus, &:active {
	  color: #fff !important;
	  border-color: #FC6C64 !important;
	  background-color: #FC6C64 !important;
	}
}

.btn-orange {
  color: @colorOrange;
  border-color: rgba(254, 198, 85, .1);
  background-color: rgba(254, 198, 85, .1);

  &:hover, &:focus, &:active {
    color: #fff !important;
    border-color: #FEC655 !important;
    background-color: #FEC655 !important;
  }
}

.btn-violet {
  color: @colorViolet;
  border-color: rgba(100, 141, 247, .1);
  background-color: rgba(100, 141, 247, .1);

  &:hover, &:focus, &:active {
    color: #fff !important;
    border-color: #648DF7 !important;
    background-color: #648DF7 !important;
  }
}

.btn-blue {
	color: @colorBlue;
	border-color: rgba(97, 184, 255, .1);
	background-color: rgba(97, 184, 255, .1);
	&:hover, &:focus, &:active {
		color:#fff !important;
		border-color: #61B8FF !important;
		background-color: #61B8FF !important;
	}
}

/* layout */
.tx-layout-header {
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  position: 'fixed';
  zIndex: 1;
  width: '100%';
}

.tx-layout-container{
  height: calc(~"100vh - 48px");
}

.tx-layout-sider, .tx-layout-content {
  overflow: auto;
  height: 100%;
}

.page-wrap {
  width: 100%;
  height: 100%;
  padding: 15px;
  position: relative;
}

/* login */
.tx-surface-logo {
	width: 210px;
	height: 50px;
	margin: 0 auto 20px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.tx-login-layout {
  height: 100vh;
  background: url(//web.wwuche.com/image/zh_login_bg.jpg) center/100% 100% no-repeat;
  align-items: center;
  padding-right: 300px;
  flex-direction: row-reverse;
}

.login-form {
	width: 360px;
	background: #fff;
	padding: 40px;
	border-radius: 6px;
}

.page-title {
  display: flex;
	justify-content: space-between;
	align-items: center;
  font-size: 16px;
  margin: 0 0 12px;
}

.page-search {
  padding: 15px 15px 0;
  border: 1px solid @borderColorGray;
  background: #fff;
}

.page-table {
  height: calc(~"100% - 180px");
  margin-top: 15px;
  padding: 0 0 15px;
  border: 1px solid @borderColorGray;
  background: #fff;
}

.wait-container {
  background: #fff;
  width: calc(~"100% - 30px");
  height: calc(~"100% - 30px");
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.user-info-card {
  height: 128px;
  background: #F5F7FA;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  line-height: 1.7;
  overflow: hidden;
  box-shadow: -2px 2px 4px #ddd;
}

.api-info {
	border: 1px dashed #ccc;
	line-height: 1.7;
	padding: 7px 10px;
  margin-bottom: 24px;
	border-radius: 4px;
	background: #FAFAFA;
}
